/* Universal Rules */

body{
    background-color: white;
    text-align: center;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    display: block;
    margin: 1rem 24px;
    box-sizing: border-box;
}

h1{
    font-size: 55px;
    font-weight: bold;
}

h2{
    font-weight:400;
}

h3{
    font-weight: 300;
    font-size: 25px;
    width: 60%;
}

h4{
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
}

#learn{
    width: 500px;
}

/* Remove styles from list elements and align them horizontally using flex */

ol, ul{
    list-style: none;
    display: flex;
    margin-right: 24px;
}

li{
    margin-right: 16px;
}

.container--media{
    width: 60%;
}

.flex--header{
    display: flex;
    justify-content: space-between;
}

.flexbox--cta{
    display: flex;
    margin-top: 32px;
    padding: 28px 28px;
    text-align: left;
    border: 1.5px solid black;
}

#first--cta{
    background-color: #E9EEF6;
}

#first--text{
    color: black;
    margin-left: 0;
    margin-top: 15%;
    padding-left: 30px;
}

#button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
}


#box--startlearning{
    margin: 32px 72px;
}

#flex--upper{
    display: flex;
    justify-content: space-around;
}

#flex--lower{
    display: flex;
    justify-content: space-around;
}

#footer{
    display: flex;
    justify-content: space-between;
}

.box--right{
    margin-left: 25px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid black;
}

.flex--boxes{
    display: inline-flex;
    align-items: flex-start;
}

.box--info{
    margin-left: 25px;
    margin-top: -40px;
}

.box--info h3{
    font-weight: 300;
    font-size: 40px;
}

.box--info h4{
    font-weight: 100;
    font-size: 25px;
}

.box--info a{
    font-size: 15px;
}

.box--img{
    margin-bottom: 5rem;
}

.headline{
    margin: 32px auto;
}

#flexbox--thesis{
    margin-top: 32px;
    padding: 28px 28px;
    text-align: center;
    background-color: #E9EEF6;
    color: black;
}
