body{
    background-color: white;
    text-align: center;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    display: block;
}

ol, ul{
    list-style: none;
    display: flex;
    margin-right: 24px;
}

li{
    margin-right: 16px;
}

.flex--header{
    display: flex;
    justify-content: space-between;
}

nav{
    
}