body{
    background-color: white;
    text-align: center;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    display: block;
    margin: 1rem 24px;
}

ol, ul{
    list-style: none;
    display: flex;
    margin-right: 24px;
}

li{
    margin-right: 16px;
}

.container--media img{
    width: 60%;
}

.flex--header{
    display: flex;
    justify-content: space-between;
}

.flexbox--cta{
    display: flex;
    margin-top: 32px;
    text-align: left;
}

#box--startlearning{
    margin: 32px 72px;
}

#flex--upper{
    display: flex;
    justify-content: space-around;
}

#flex--lower{
    display: flex;
    justify-content: space-around;
}